[user]
	email = kino811@gmail.com
	name = Myonghwa, Jung
[core]
	editor = emacs
	crlf = input
[merge]
	tool = vimdiff
[push]
	default = matching
[diff]
	tool = vimdiff
[alias]
	loggraph = log --oneline --decorate --graph
	st = status
[credential]
	helper = cache
[color]
	ui = true
