[user]
	email = kino811@gmail.com
	name = Myonghwa, Jung
[core]
	editor = emacs
	crlf = input
[merge]
	tool = ediff
[push]
	default = matching
[diff]
	tool = ediff
[alias]
	st = status
	logt = log --oneline --decorate --graph --all
[credential]
	helper = cache
[color]
	ui = true
