[user]
	email = kino811@gmail.com
	name = kino
[core]
	editor = emacs -q -nw
	crlf = input
[merge]
	tool = emerge -q -nw
[push]
	default = matching
[diff]
	tool = ediff -q -nw
[alias]
	st = status
	logt = log --oneline --decorate --graph --all
[credential]
	helper = cache
[color]
	ui = true
